@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700);
/* line 17, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
body {
  font-size: 16px;
  font-family: "Lucida Grande", sans-serif;
  background-color: #f5f5f5;
}

/* line 18, ../sass/screen.scss */
html {
  height: 100%;
  background: url("/images/bg.jpg") no-repeat bottom right;
}

/* line 23, ../sass/screen.scss */
h1, h2, h3 {
  color: #117755;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}
/* line 27, ../sass/screen.scss */
h1 small, h2 small, h3 small {
  font-size: smaller;
  color: #17a475;
}

/* line 33, ../sass/screen.scss */
h1 {
  font-size: 3em;
}

/* line 34, ../sass/screen.scss */
h2 {
  margin: 10px 0;
  font-size: 1.8em;
}

/* line 35, ../sass/screen.scss */
h3 {
  font-size: 1.6em;
}

/* line 37, ../sass/screen.scss */
ul {
  margin-left: 1.5em;
  list-style-type: disc;
  margin-bottom: 0.5em;
}

/* line 43, ../sass/screen.scss */
p {
  margin-bottom: 1em;
}

/* line 45, ../sass/screen.scss */
.tagline {
  padding: 0.5em 0;
  color: #eee;
  border-bottom: 5px solid #073425;
  background-color: #117755;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}
/* line 53, ../sass/screen.scss */
.tagline a {
  color: #eee;
}

/* line 58, ../sass/screen.scss */
header {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  text-align: center;
}
/* line 38, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 64, ../sass/screen.scss */
header h1 {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  text-shadow: 0px 0px 5px #999999;
}

/* line 70, ../sass/screen.scss */
.contact_link {
  display: block;
  padding: 15px 0;
  color: #fff;
  background-color: #333333;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
/* line 81, ../sass/screen.scss */
.contact_link:hover {
  background-color: #0d0d0d;
}

/* line 86, ../sass/screen.scss */
.content {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
/* line 38, ../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.content:after {
  content: "";
  display: table;
  clear: both;
}
